<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.dao">
  <select id="boardlist" resultType="AnsDto">
    SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG 
    FROM answerboard ORDER BY REFER DESC, STEP ASC
  </select>
  
  <insert id="insertboard" parameterType="AnsDto">
  	INSERT INTO answerboard 
  	VALUES(NULL,#{id},#{title},#{content},SYSDATE(),
  		  (SELECT NVL(MAX(refer),0)+1 FROM answerboard),0,0,0,'N')
  </insert>
  
  <select id="getboard" parameterType="Integer" resultType="AnsDto">
  	SELECT seq,id,title,content,regdate,readcount FROM answerboard <include refid="seqParam"/>
  </select>
  
  <!-- 조회수 -->
  <update id="readcount" parameterType="Integer">
  	UPDATE answerboard SET readcount=readcount+1 <include refid="seqParam"/>
  </update>
  
  <!-- 수정하기 -->
  <update id="boardupdate" parameterType="Map">
  	UPDATE answerboard SET title=#{title}, content=#{content} <include refid="seqParam"/>
  </update>
  
  <!-- 삭제하기 -->
  <update id="boarddelete" parameterType="Integer">
  	UPDATE answerboard SET delflag='Y' <include refid="seqParam"/>
  </update>
  
  <sql id="seqParam">
  	WHERE seq = #{seq}
  </sql>
  
  <!-- 여러글 삭제:Dynamic Query | parameter: Map(key:array)-->
  <!-- 동적쿼리 사용시에는 Map으로 전달해야함 -->
  <update id="muldel" parameterType="Integer">
  	UPDATE answerboard SET delflag='Y' WHERE seq IN 
  	<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
  		#{seq}
  	</foreach>
  </update>
  
  
</mapper>