<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace속성: 반드시 정의를 하자 -->
<!-- 설정된 패키지명.인터페이스명은 실제 정의된 CalMapper 인터페이스의 경로임 -->
<mapper namespace="com.hk.board.mapper.CalMapper">
	
	<!-- 메서드명과 ID명이 일치해야함 -->
	<insert id="insertCalBoard" parameterType="CalDto">
		INSERT INTO calboard VALUE(NULL,#{id},#{title},#{content},#{mdate},SYSDATE())
	</insert>
	
	<select id="calBoardList" parameterType="Map" resultType="CalDto">
		SELECT seq, id, title, content, mdate, regdate 
		FROM calboard 
		WHERE id=#{id} AND SUBSTRING(mdate,1,8) = #{yyyyMMdd}
	</select>
	
	<delete id="calMulDel" parameterType="Map">
		DELETE FROM calboard WHERE seq IN 
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">#{seq}</foreach>
	</delete>
	
	<select id="calBoardDetail" parameterType="Integer" resultType="CalDto">
		SELECT seq,id,title,content,mdate,regdate FROM calboard WHERE seq=#{seq}
	</select>
	
	<update id="calBoardUpdate" parameterType="CalDto">
		UPDATE calboard 
		SET title=#{title}, content=#{content}, mdate=#{mdate}, regdate=SYSDATE()
		WHERE seq=#{seq}
	</update>
	
	<select id="calViewList" parameterType="Map" resultType="CalDto">
    SELECT seq,id,title,content,mdate,regdate 
    FROM (SELECT seq,id,title,content,mdate,regdate,ROW_NUMBER() OVER(PARTITION BY SUBSTRING(mdate, 7, 2) ORDER BY seq) AS rn 
          FROM calboard) AS subboard
    WHERE id=#{id} AND SUBSTRING(mdate,1,6) = #{yyyyMM} AND subboard.rn &lt; 4
	</select>
	
	<select id="calBoardCount" parameterType="Map" resultType="int">
		SELECT COUNT(*) 
		FROM calboard
		WHERE id=#{id} AND SUBSTR(mdate,1,8) = #{yyyyMMdd}
	</select>
</mapper>