<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hk.emr.mapper.DepartmentMapper">
	
	<insert id="addDepartment" parameterType="String">
		INSERT INTO DEPARTMENT 
		VALUES(NULL,#{name})
	</insert>
	
	<select id="findAllDepartments" resultType="departmentDto">
		SELECT dept_id AS id,name FROM DEPARTMENT WHERE dept_id>1
	</select>
</mapper>