<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hk.emr.mapper.DoctorMapper">

	<select id="getDoctorId" parameterType="Integer">
		SELECT B.doctor_id
		FROM USER_ACCOUNT A INNER JOIN DOCTOR_PROFILE B ON A.user_id = B.user_id
		WHERE A.user_id = #{userId};
	</select>
	
	<select id="getDoctorList" resultType="doctorDto">
		SELECT DP.doctor_id AS doctorId, U.username AS name, D.name AS deptName
		FROM USER_ACCOUNT AS U INNER JOIN DOCTOR_PROFILE AS DP ON U.user_id = DP.user_id 
							   INNER JOIN DEPARTMENT AS D ON DP.dept_id = D.dept_id
	</select>
	
	<insert id="addDoctor" parameterType="doctorDto" useGeneratedKeys="true" keyProperty="doctorId">
		Insert INTO DOCTOR_PROFILE VALUES(NULL,#{userId},1,NULL)
	</insert>
	
	<insert id="addSchedule" parameterType="Integer">
	    INSERT INTO SCHEDULE 
	        (schedule_id, doctor_id, day_of_week, start_time, end_time, is_closed)
	    VALUES
	        (NULL, #{doctorId}, 'MONDAY',    '09:00:00', '18:00:00', 0),
	        (NULL, #{doctorId}, 'TUESDAY',   '09:00:00', '18:00:00', 0),
	        (NULL, #{doctorId}, 'WEDNESDAY', '09:00:00', '18:00:00', 0),
	        (NULL, #{doctorId}, 'THURSDAY',  '09:00:00', '18:00:00', 0),
	        (NULL, #{doctorId}, 'FRIDAY',    '09:00:00', '18:00:00', 0),
	        (NULL, #{doctorId}, 'SATURDAY',  '09:00:00', '18:00:00', 1),
	        (NULL, #{doctorId}, 'SUNDAY',    '09:00:00', '18:00:00', 1)
	</insert>
	
	<select id="findSchedulesByDoctorId" parameterType="int" 
	        resultType="scheduleDto">
	    SELECT 
	        day_of_week AS dayOfWeek,
	        
	        TIME_FORMAT(start_time, '%H:%i') AS startTime,
	        TIME_FORMAT(end_time, '%H:%i') AS endTime,
	        
	        is_closed AS isClosed
	    FROM 
	        SCHEDULE
	    WHERE 
	        doctor_id = #{doctorId}
	    ORDER BY
	        FIELD(day_of_week, 'SUNDAY', 'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY')
	</select>
	
	<update id="updateSchedule" parameterType="list">
	  <foreach collection="list" item="day" separator=";">
	    UPDATE SCHEDULE
	    SET 
	        start_time = #{day.startTime},
	        end_time = #{day.endTime},
	        is_closed = #{day.isClosed}
	    WHERE 
	        doctor_id = #{day.doctorId} 
	        AND day_of_week = #{day.dayOfWeek}
	  </foreach>
	</update>
	
	<select id="findCurrentPatient" parameterType="Integer" resultType="appointmentDto">
		SELECT 
	        A.appointment_id AS appointmentId,
	        A.patient_id AS patientId,
	        P.name AS patientName,
	        P.chart_number AS chartNumber,
	        TIME_FORMAT(A.appointment_time, '%H:%i') AS dateTime
	    FROM 
	        APPOINTMENT A
	        JOIN PATIENT P ON A.patient_id = P.patient_id
	    WHERE 
	        A.doctor_id = #{doctorId}
	        AND A.status = 'IN_PROGRESS'
	    ORDER BY
	        A.appointment_time ASC
	</select>
	
	<select id="findWaitingList" parameterType="Integer" resultType="appointmentDto">
		SELECT 
	        A.appointment_id AS appointmentId,
	        A.patient_id AS patientId,
	        P.name AS patientName,
	        TIME_FORMAT(A.appointment_time, '%H:%i') AS dateTime
	    FROM 
	        APPOINTMENT A
	        JOIN PATIENT P ON A.patient_id = P.patient_id
	    WHERE 
	        A.doctor_id = #{doctorId}
	        AND A.status = 'WAITING'
	    ORDER BY
	        A.appointment_time ASC
	</select>
	
	<select id="findScheduledList" parameterType="Integer" resultType="appointmentDto">
		SELECT 
	        A.appointment_id AS appointmentId,
	        A.patient_id AS patientId,
	        P.name AS patientName,
	        TIME_FORMAT(A.appointment_time, '%H:%i') AS dateTime
	    FROM 
	        APPOINTMENT A
	        JOIN PATIENT P ON A.patient_id = P.patient_id
	    WHERE 
	        A.doctor_id = #{doctorId}
	        AND A.status = 'SCHEDULED'
	    ORDER BY
	        A.appointment_time ASC
	</select>
	
	<delete id="deleteSchedulesByDoctorId" parameterType="Integer">
	    DELETE FROM SCHEDULE WHERE doctor_id = #{doctorId}
	</delete>
	
	<delete id="deleteDoctorProfile" parameterType="Integer">
	    DELETE FROM DOCTOR_PROFILE WHERE doctor_id = #{doctorId}
	</delete>
</mapper>