<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hk.emr.mapper.MemberMapper">
	
	<insert id="addUser" 
        parameterType="com.hk.emr.dtos.MemberDto"
        useGeneratedKeys="true" 
        keyProperty="userId"> 
        INSERT INTO USER_ACCOUNT 
           (username, password, name, role)
    	VALUES 
           (#{userName}, #{password}, #{name}, #{role})
	</insert>
	
	<select id="idChk" parameterType="String" resultType="String">
		SELECT username FROM USER_ACCOUNT WHERE username = #{id}
	</select>
	
	<select id="findAllAccounts" resultType="memberDto">
		SELECT user_id AS userId,username AS userName,name,role 
		FROM USER_ACCOUNT
	</select>
	
	<select id="loginUser" parameterType="String" resultType="memberDto">
		SELECT user_id AS userId, username AS userName, name, password, role
		FROM USER_ACCOUNT
		WHERE username = #{id}
	</select>
	
	<select id="getUserId" parameterType="String" resultType="Integer">
		SELECT user_id 
		FROM USER_ACCOUNT
		WHERE username = #{username}
	</select>
	
	<select id="getUser" parameterType="Integer" resultType="memberDto">
		SELECT user_id AS userId, username AS userName, name, password, role
		FROM USER_ACCOUNT
		WHERE user_id = #{userId}
	</select>
	
	<update id="updateAccount" parameterType="memberDto">
	    UPDATE USER_ACCOUNT
	    SET 
	        name = #{name}
	    WHERE 
	        user_id = #{userId}
	</update>
	
	<delete id="deleteAccount" parameterType="Integer">
	    DELETE FROM USER_ACCOUNT WHERE user_id = #{userId}
	</delete>
</mapper>