@charset "UTF-8";

body { 
font-family: sans-serif; display: flex; }
.sidebar ul { list-style: none; padding: 0; }
.sidebar li { margin-bottom: 10px; }
.content { flex-grow: 1; padding: 30px; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
th, td { border: 1px solid #ddd; padding: 12px; text-align: left; }
th { background-color: #f9f9f9; }
.btn-pay { background-color: #17a2b8; color: white; padding: 5px 10px; border: none; cursor: pointer; }